.clothingCardContainer {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.clothingCard {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  padding: 10px;
}
.clothingImage {
  display: block;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0 auto;
}
.clothingTextWrapper {
  display: block;
  margin: 0 auto;
  padding: 10px;
}