* {
  box-sizing: border-box;
}
.title {
  text-align: center;
}
/*BUTTONS*/
.blueButton {
  background-color:cornflowerblue;
}
.greenButton {
  background-color:darkseagreen;
}
.dangerButton {
  background-color:crimson;
}
.smallButton {
  margin: 3px;
  padding: 3px;
}
.bigButton {
  margin: 3px;
  padding: 10px;
  height: 80px;
}
.mediumButton {
  margin: 3px;
  padding: 10px;
}
/*FILTERS*/
.selectMenuWrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width:800px;
  width:100%;
  padding:10px;
}
.selectMenu {
  margin: 3px;
  padding: 10px;
  height:80px;
}
/*CLOTHING CARDS*/
.clothingCardContainer {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.clothingCard {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  padding: 10px;
  /*align the image and text horizontally and vertically inside the card using flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clothingImage {
  display: block;
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0 auto;
}
.clothingTextWrapper {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/*PAGINATION BUTTONS*/
.paginationButtonNav {
  text-align:center;
  margin: 20px;
}